/* MEDIA QUERIES */

@media(max-width: 768px){

    nav{
        padding-left: 2% !important;
        padding-right: 2% !important;
    }

    #searcharea{
        font-size: 15px;
        width: 200px;
    }

    #searchbox > input{
        width: 150px;
    }

    #searchbox > button{
        font-size: 15px;
        width: 50px;
    }

    .modal-inner{
        height: 80%;
        width: 70%;
    }
}

@media(min-width: 768px){

    nav{
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    #searcharea{
        font-size: 15px;
        width: 250px;
    }

    #searchbox > input{
        width: 200px;
    }

    #searchbox > button{
        font-size: 15px;
        width: 50px;
    }

    .modal-inner{
        height: 80%;
        width: 60%;
    }
}

@media(min-width: 900px){

    nav{
        padding-left: 8% !important;
        padding-right: 8% !important;
    }

    #searcharea{
        font-size: 15px;
        width: 300px;
    }

    #searchbox > input{
        width: 250px;
    }

    #searchbox > button{
        font-size: 15px;
        width: 50px;
    }

    .modal-inner{
        height: 80%;
        width: 60%;
    }
}

@media(min-width: 1366px){

    nav{
        padding-left: 15% !important;
        padding-right: 15% !important;
    }

    #searcharea{
        font-size: 15px;
        width: 500px;
    }

    #searchbox > input{
        width: 450px;
    }

    #searchbox > button{
        font-size: 15px;
        width: 50px;
    }

    .modal-inner{
        height: 65%;
        width: 30%;
    }
}

@media(min-width: 1600px){

    nav{
        padding-left: 15% !important;
        padding-right: 15% !important;
    }

    #searcharea{
        font-size: 16px;
        width: 600px;
    }

    #searchbox > input{
        width: 550px;
    }

    #searchbox > button{
        font-size: 16px;
        width: 50px;
    }

    .modal-inner{
        height: 60%;
        width: 25%;
    }
}


body, html{
    background-color: black;
    font-family: "Roboto", sans-serif;
    z-index: 0.8;
}

nav{
    background-color: rgb(30, 33, 36);
    font-family: "Poppins", sans-serif;
}

#leftitems{
    padding-left: 4%;
}

#leftitems > ul > li{
    padding: 5px;
    padding-top: inherit;
    padding-bottom: inherit;
}

/* SEARCH BOX */

#searchbox{
    position: relative;
}

#searchbox > input{
    background-color: rgb(20, 21, 24);
    border: 1px solid rgb(50, 53, 59);
    border-right: 0px;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    padding-left: 30px;
}

#searchbox > input:focus{
    outline: none;
    color: rgb(166, 166, 175);
}

#searchbox > button{
    background-color: rgb(20, 21, 24);
    color: rgb(166, 166, 175);
    padding: 10px;
    border: 1px solid rgb(50, 53, 59);
    border-left: 0px;
    position: absolute;
    border-radius: 0 20px 20px 0;
}

#searchbox > button:focus{
    outline: none;
    color: rgb(166, 166, 175);
}

/* LOG-IN FORM */

#sign{
    display: none;
}

.modal{
    font-family: "Poppins", sans-serif;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1.1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    backdrop-filter: blur(18px);
}

.modal-inner{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 40px;
    background-color: rgb(30, 33, 36);
    height: min-content;
}

.form-inner{
    height: 100%;
    width: 100%;
}

.form-inner > #top{
    padding-top: 15%;
    color: rgb(190, 190, 190);
    font-size: 28px;
    padding-bottom: 5px;
}

.form-inner > input{
    font-size: 20px;
    margin: 15px;
    padding: 15px;
    padding-left: 30px;
    border-radius: 50px;
    background-color: rgb(30, 33, 36);
    border: 1px solid rgb(50, 53, 59);
}

.form-inner > input:focus{
    outline: none;
    color: rgb(170, 170, 179);
}

.form-inner > label{
    width: 80%;
    text-align: left;
    margin: 15px;
    font-size: 18px;
    color: rgb(158, 158, 160);
    height: auto;
}

.form-inner > label > input{
    border-radius: 50%;
    margin-right: 10px;
    height: 18px;
    width: 18px;
}

.form-inner > button{
    width: 80%;
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    border-radius: 50px;
    color: rgb(190, 190, 190);
    background-color: rgb(133, 20, 20);
    border: 1px solid rgb(117, 0, 0);
}

.form-inner > button:focus{
    outline: none;
}

.form-inner > .reg{
    padding-top: 3%;
    font-size: 16px;
}

.form-inner > .reg >a:hover{
    text-decoration: none;
    color: rgb(255, 83, 30);
    font-weight: bold;
}
.form-inner > .psw{
    padding-top: 1%;
    font-size: 16px;
    margin-bottom: 13%;
}

.form-inner > .psw >a:hover{
    text-decoration: none;
    color: dodgerblue;
    font-weight: bold;
}

#reg > form > .form-inner > button{
    margin-top: 5%;
    margin-bottom: 18%;
}

.box{
    width: 80%;
}

/* PLAYER */

#player{
    z-index: 1;
    left: 32%;
    position: fixed;
    background-color: rgb(30, 33, 36, 0.7);
    width: 40%;
    height: 15%;
    bottom: 1.2%;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    padding-left: 0;
    font-family: 'Barlow Condensed';
    font-size: 22px;
}

#player-inner{
    position: relative;
    width: 100%;
    height: 100%;
}

#albumart{
    position: relative;
    top: 10%;
    height: 80%;
    border-radius: 25px;
    width: 22%;
}

#title{
    color : rgb(160, 160, 160);
    position: absolute;
    top: 25%;
    height: 25%;
    width: 35%;
    left: 27%;
    overflow: hidden;
}

#title span {
    position: absolute;
    white-space: nowrap;
    transform: translateX(0);
    transition: 2.5s ease-in-out;
}

#title:hover span {
    transform: translateX(calc(200px - 100%));
}

#artist{
    color : rgb(150, 150, 150);
    position: absolute;
    top: 52%;
    height: 25%;
    width: 35%;
    left: 27%;
    overflow: hidden;
}

#artist span {
    position: absolute;
    white-space: nowrap;
    transform: translateX(0);
    transition: 1.5s ease-in-out;
}

#artist:hover span {
    transform: translateX(calc(200px - 100%));
}


#player-controls{
    position: absolute;
    transform: translate(-50%, -50%);
    width: max-content;
    top: 50%;
    left: 80%;
}
#player-controls > button{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
    border: none;
    background-color: inherit;
    color: rgb(170, 170, 170);
}

#player-controls > button:focus{
    outline: none;
}

/* CAROUSEL */

#slides{
    margin-top: 3rem;
    width: 80%;
}

#slides > .carousel-inner{
    height: 45vh;
    border-radius: 30px;
}

#slimg{
    height: 45vh;
    width: 100%;
    object-fit: fill;
}

/* SECTIONS */

#sections{
    margin-top: 3rem;
    font-family: "Poppins", sans-serif;
    color: rgb(160, 160, 160);
}

#sections > .row{
    width: 80%;
}

#sections > .row > .child{
    width: 100%;
    vertical-align: middle;
    padding: 0 0 3rem 0;
}

#sections > .row > .child > h4{
    transform: translateX(0.5%);
    font-size: 25px;
    width: 99%;
}

.child > .row > .col-sm-4{
    padding: 12px;
}

.child > .row > .col-sm-4 > a:hover{
    text-decoration: none;
}

#sectionspan{
    font-size: 14px;
    float: right;
    line-height: 25px;
    vertical-align: middle;
}

#sectionspan > a{
    color: rgb(255, 66, 66);
    font-weight: 400;
}

#sectionspan > a:hover{
    color: rgb(255, 169, 169);
    text-decoration: none;
}

.card{
    height: 100%;
    border: 2px solid rgb(80, 0, 0);
    border-radius: 15px;
    overflow: hidden;
    background-color: black;
    color: rgb(160, 160, 160);
}

#secimg{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card-body{
    padding: 5% 10%;
    font-size: 16px;
    font-weight: bolder;
}

.card:hover{
    color: #d70000;
}

.card-body > p {
    padding: 2px;
    margin: 0;
    padding-bottom: 5px;
}

hr{
    background-color: rgb(85, 0, 0);
    height: 5px;
    width: 80%;
    border-radius: 5px;
}

.footer{
    margin-top: 3rem;
    width: 80%;
    font-family: Poppins;
    margin-bottom: 4rem;
}

.footer > p{
    font-size: 18px;
    font-weight: bolder;
    color: rgb(145, 145, 145);
    padding-top: 5px;
}

#brandfooter{
    font-size: 28px; 
    font-family: Poppins;
    color: rgb(175, 175, 175)
}

#footerending{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 8%;
}

